{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", {
      "corejs": {
        "version": 3,
        "proposals": true
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "umd": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "browsers": [
              "> 0.25%",
              "not dead"
            ]
          }
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs",
          "targets": {
            "node": 10
          }
        }]
      ]
    },
    "esm": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "bugfixes": true,
          "targets": {
            "esmodules": true
          }
        }]
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", {
          "useESModules": true
        }]
      ]
    }
  }
}
