{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "umd": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "browsers": [
              "> 0.25%",
              "not dead"
            ]
          }
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs",
          "targets": {
            "node": 10
          }
        }]
      ]
    },
    "esm": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "bugfixes": true,
          "targets": {
            "esmodules": true
          }
        }]
      ]
    }
  }
}
